<div ng-include="'app/partials/page-navigation/main.html'"></div>

<div class="container">
  <div class="no-table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="col-xs-6 col-sm-8 col-md-9 col-lg-10">{{'application.application'|translate}}</th>
          <th class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-right">
            <a ng-href="#/application-builder/applications/create" class="btn btn-sm btn-primary" title="{{'application.createApplication'|translate}}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'application.createApplication'|translate}}
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="application in applications">
          <td><a ng-href="#/application-builder/app/{{application.id}}/pages">{{application.attributes.name}}</a></td>
          <td class="text-right">
            <button class="btn btn-sm btn-default" ng-click="runApplication(application.id)" title="{{'application.run'|translate}}">
              <span>{{'application.run'|translate}}</span>
            </button>
              <a ng-href="#/application-builder/applications/{{application.id}}/edit" class="btn btn-sm btn-success" title="{{'application.edit'|translate}}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
              <a ng-href="#/application-builder/applications/{{application.id}}/authentication" class="btn btn-sm btn-info" title="{{'application.authentication'|translate}}">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </a>
            <button ng-click="deleteApplication(application.id)"  class="btn btn-sm btn-danger" title="{{'application.delete'|translate}}">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <uib-pagination boundary-links="true"
                total-items="allApplications.length"
                items-per-page="itemsPerPage"
                ng-model="currentPage"
                ng-change="pageChanged()"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
  </uib-pagination>
</div>

