<div ng-include="'app/partials/page-navigation/main.html'"></div>

<div class="container">
  <h2 ng-show="mode === 'create'">{{'application.createApplication'|translate}}</h2>
  <h2 ng-show="mode === 'edit'">{{'application.editApplication'|translate}}</h2>
  <form name="createApplicationForm" class="form-horizontal" ng-submit="saveApplication()" novalidate>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(createApplicationForm.applicationName, 'name')}">
      <label for="applicationName" class="col-sm-3 control-label">{{'application.applicationName'|translate}} *</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="applicationName" ng-model="application.name" id="applicationName" placeholder="{{'application.applicationName'|translate}}" required autofocus>
        <div ng-show="formError.showErrors(createApplicationForm.applicationName, 'name')">
          <span ng-show="createApplicationForm.applicationName.$error.required" class="help-block">{{'application.applicationNameIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('name')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(createApplicationForm.applicationAlias, 'alias')}">
      <label for="applicationAlias" class="col-sm-3 control-label">{{'application.alias'|translate}}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="applicationAlias" ng-model="application.alias" id="applicationAlias" placeholder="{{'application.alias'|translate}}">
        <div ng-show="formError.showErrors(createApplicationForm.applicationAlias, 'alias')">
          <span ng-repeat="error in formError.getErrors('alias')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(createApplicationForm.applicationSchema, 'schema')}">
      <label for="applicationSchema" class="col-sm-3 control-label">{{'application.schema'|translate}} *</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="application.schema" name="applicationSchema" id="applicationSchema" required>
          <option ng-repeat="schema in schemas" ng-value="schema">{{schema}}</option>
        </select>
        <div ng-show="formError.showErrors(createApplicationForm.applicationSchema, 'schema')">
          <span ng-show="createApplicationForm.applicationSchema.$error.required" class="help-block">{{'application.schemaIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('schema')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(createApplicationForm.applicationAuthenticationScheme, 'authenticationScheme')}">
      <label for="applicationAuthenticationScheme" class="col-sm-3 control-label">{{'application.authenticationScheme'|translate}} *</label>
      <div class="col-sm-9">
        <select class="form-control" name="applicationAuthenticationScheme" id="applicationAuthenticationScheme" ng-model="application.authenticationScheme" required>
          <option value="none">{{'application.authenticationSchemeNone'|translate}}</option>
          <option value="database-user">{{'application.authenticationSchemeDatabaseUser'|translate}}</option>
          <option value="user-function">{{'application.authenticationSchemeUserFunction'|translate}}</option>
        </select>
        <div ng-show="formError.showErrors(createApplicationForm.applicationAuthenticationScheme, 'authenticationScheme')">
          <span ng-show="createApplicationForm.applicationAuthenticationScheme.$error.required" class="help-block">{{'application.authenticationSchemeIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('authenticationScheme')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="application.authenticationScheme == 'user-function'" ng-class="{'has-error': formError.showErrors(createApplicationForm.applicationAuthenticationFunction, 'authenticationFunction')}">
      <label for="applicationAuthenticationFunction" class="col-sm-3 control-label">{{'application.authenticationFunction'|translate}} *</label>
      <div class="col-sm-9">
        <select class="form-control" name="applicationAuthenticationFunction" id="applicationAuthenticationFunction" ng-model="application.authenticationFunction" ng-required="application.authenticationScheme == 'user-function'">
          <option ng-repeat="authenticationFunction in authenticationFunctions" ng-value="authenticationFunction">{{authenticationFunction}}</option>
        </select>
        <div ng-show="formError.showErrors(createApplicationForm.applicationAuthenticationFunction, 'authenticationFunction')">
          <span ng-show="createApplicationForm.applicationAuthenticationFunction.$error.required" class="help-block">{{'application.authenticationFunctionIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('authenticationFunction')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" ng-disabled="createApplicationForm.$invalid">
          <span ng-show="mode === 'create'">{{'application.createApplication'|translate}}</span>
          <span ng-show="mode === 'edit'">{{'application.editApplication'|translate}}</span>
        </button>
      </div>
    </div>
  </form>
</div>
