<div ng-include="'app/partials/page-navigation/main.html'"></div>

<div class="container">
  <h2 ng-show="mode === 'create'">{{'application.createApplication'|translate}}</h2>
  <h2 ng-show="mode === 'edit'">{{'application.editApplication'|translate}}</h2>
  <form name="manageApplicationForm" class="form-horizontal" ng-submit="saveApplication()" novalidate>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageApplicationForm.applicationName, 'name')}">
      <label for="applicationName" class="col-sm-3 control-label">{{'application.name'|translate}} *</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="applicationName" ng-model="application.name" id="applicationName" placeholder="{{'application.name'|translate}}" required autofocus>
        <div ng-show="formError.showErrors(manageApplicationForm.applicationName, 'name')">
          <span ng-show="manageApplicationForm.applicationName.$error.required" class="help-block">{{'application.applicationNameIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('name')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageApplicationForm.alias, 'alias')}">
      <label for="alias" class="col-sm-3 control-label">{{'application.alias'|translate}}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="alias" ng-model="application.alias" id="alias" placeholder="{{'application.alias'|translate}}">
        <div ng-show="formError.showErrors(manageApplicationForm.alias, 'alias')">
          <span ng-repeat="error in formError.getErrors('alias')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageApplicationForm.database, 'database')}">
      <label for="database" class="col-sm-3 control-label">{{'application.database'|translate}} *</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="application.database" name="database" id="database" ng-change="application.authenticationFunction = ''" required>
          <option ng-repeat="database in databases" ng-value="database.name">{{database.name}}</option>
        </select>
        <div ng-show="formError.showErrors(manageApplicationForm.database, 'database')">
          <span ng-show="manageApplicationForm.database.$error.required" class="help-block">{{'application.databaseIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('database')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageApplicationForm.authenticationScheme, 'authenticationScheme')}">
      <label for="authenticationScheme" class="col-sm-3 control-label">{{'application.authenticationScheme'|translate}} *</label>
      <div class="col-sm-9">
        <select class="form-control" name="authenticationScheme" id="authenticationScheme" ng-model="application.authenticationScheme" required>
          <option value="NO_AUTHENTICATION">{{'application.authenticationSchemeNoAuthentication'|translate}}</option>
          <option value="USER_FUNCTION">{{'application.authenticationSchemeUserFunction'|translate}}</option>
        </select>
        <div ng-show="formError.showErrors(manageApplicationForm.authenticationScheme, 'authenticationScheme')">
          <span ng-show="manageApplicationForm.authenticationScheme.$error.required" class="help-block">{{'application.authenticationSchemeIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('authenticationScheme')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="application.authenticationScheme == 'USER_FUNCTION'" ng-class="{'has-error': formError.showErrors(manageApplicationForm.authenticationFunction, 'authenticationFunction')}">
      <label for="authenticationFunction" class="col-sm-3 control-label">{{'application.authenticationFunction'|translate}} *</label>
      <div class="col-sm-9">
        <div ng-hide="application.database" class="alert alert-warning" role="alert">{{'application.databaseMustBeSelected'|translate}}</div>
        <select ng-show="application.database" class="form-control" name="authenticationFunction" id="authenticationFunction" ng-model="application.authenticationFunction" ng-required="application.authenticationScheme == 'USER_FUNCTION'">
          <option ng-repeat="authenticationFunction in authenticationFunctions" ng-show="authenticationFunction.database === application.database" value="{{authenticationFunction.database}}.{{authenticationFunction.schema}}.{{authenticationFunction.function}}">{{authenticationFunction.schema}}.{{authenticationFunction.function}}</option>
        </select>
        <div ng-show="formError.showErrors(manageApplicationForm.authenticationFunction, 'authenticationFunction')">
          <span ng-show="manageApplicationForm.authenticationFunction.$error.required" class="help-block">{{'application.authenticationFunctionIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('authenticationFunction')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageApplicationForm.databaseUsername, 'databaseUsername')}">
      <label for="databaseUsername" class="col-sm-3 control-label">{{'application.databaseUsername'|translate}} *</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="databaseUsername" ng-model="application.databaseUsername" id="databaseUsername" placeholder="{{'application.databaseUsername'|translate}}" required>
        <div ng-show="formError.showErrors(manageApplicationForm.databaseUsername, 'databaseUsername')">
          <span ng-show="manageApplicationForm.databaseUsername.$error.required" class="help-block">{{'application.databaseUsernameIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('databaseUsername')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageApplicationForm.databasePassword, 'databasePassword')}">
      <label for="databasePassword" class="col-sm-3 control-label">{{'application.databasePassword'|translate}} *</label>
      <div class="col-sm-9">
        <input type="{{passwordFieldType}}" class="form-control" name="databasePassword" ng-model="application.databasePassword" id="databasePassword" placeholder="{{'application.databasePassword'|translate}}" required>
        <div>
          <a ng-click="togglePasswordFieldType()" class="toggle">
            <span ng-show="passwordFieldType === 'password'">{{'application.showPassword'|translate}}</span>
            <span ng-show="passwordFieldType === 'text'">{{'application.hidePassword'|translate}}</span>
          </a>
        </div>
        <div ng-show="formError.showErrors(manageApplicationForm.databasePassword, 'databasePassword')">
          <span ng-show="manageApplicationForm.databasePassword.$error.required" class="help-block">{{'application.databasePasswordIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('databasePassword')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" ng-disabled="manageApplicationForm.$invalid">
          <span ng-show="mode === 'create'">{{'application.createApplication'|translate}}</span>
          <span ng-show="mode === 'edit'">{{'application.editApplication'|translate}}</span>
        </button>
      </div>
    </div>
  </form>
</div>  