.vagrant
/node_modules
/document/pgapex.md~
/test-reports
/pgapex/vendor
/pgapex/app/.env

/document/*
!/document/diagrams
!/document/pgapex.bib
!/document/pgapex.tex
!/document/pgapex.pdf
!/document/pgapex.mdl