[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

label {
  cursor: pointer;
}

label.normal-label {
  font-weight: normal;
}

.dropdown-menu .checkbox {
  padding-left: 20px;
}

.input-group-addon.clean {
  background-color: #ffffff;
}

.text-lg {
  font-size: 18px;
}

.text-sm {
  font-size: 12px;
}

.login-form {
  width: 350px;
  margin: 0 auto;
}

.bootstrap-duallistbox-container .info-container {
  display: none;
}

select[multiple] option {
  cursor: pointer;
}

a.toggle {
  cursor: pointer;
}

.form-group.form-group-striped:nth-child(even) {
  background-color: #f9f9f9;
}

.help-text {
  cursor: pointer;
  font-size: 14px;
}

.add-button {
  margin-bottom: 3em;
}

.add-button .add-button__item {
  margin-bottom: 1em;
}

.add-button .add-button__item__checkbox {
  margin-left: auto;
  padding-left: 1em;
}

.cell--fit-content {
  white-space: nowrap;
  width: 1%;
}

.btn--margin-left {
  margin-left: 0.5em;
}

.subregion .table {
  margin: 0;
}

.subregion .pagination {
  margin-left: 1em;
}

.subregion-form {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.subregion-form__row {
  margin: auto;
}

.subregion-form__row .has-error {
  color: #a94442;
}

.subregion-form__panel {
  background-color: #f7f7f9;
  margin-bottom: 2.5em;
}

.heading {
  margin-top: auto;
}

.add-column-link {
  margin-top: 2.5em;
}

.add-column-link__column-row {
  margin-left: 0;
  margin-right: 0;
}

.add-column-link__heading {
  margin-top: 0;
}