[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

label {
  cursor: pointer;
}

label.normal-label {
  font-weight: normal;
}

.dropdown-menu .checkbox {
  padding-left: 20px;
}

.input-group-addon.clean {
  background-color: #ffffff;
}

.text-lg {
  font-size: 18px;
}

.text-sm {
  font-size: 12px;
}

.login-form {
  width: 350px;
  margin: 0 auto;
}

.bootstrap-duallistbox-container .info-container {
  display: none;
}

select[multiple] option {
  cursor: pointer;
}

a.toggle {
  cursor: pointer;
}

.form-group.form-group-striped:nth-child(even) {
  background-color: #f9f9f9;
}

.help-text {
  cursor: pointer;
  font-size: 14px;
}

.add-button {
  margin-bottom: 3em;
}

.add-button .add-button__item {
  margin-bottom: 1em;
}

.checkbox-cell {
  white-space: nowrap;
  width: 1%;
}

.btn--margin-left {
  margin-left: 0.5em;
}