    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.name, 'name')}">
      <label for="name" class="col-sm-3 control-label">{{'region.name'|translate}} *</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="name" ng-model="region.name" id="name" placeholder="{{'region.name'|translate}}" required autofocus>
        <div ng-show="formError.showErrors(manageRegionForm.name, 'name')">
          <span ng-show="manageRegionForm.name.$error.required" class="help-block">{{'region.nameIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('name')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.sequence, 'sequence')}">
      <label for="sequence" class="col-sm-3 control-label">{{'region.sequence'|translate}} *</label>
      <div class="col-sm-9">
        <input type="number" min="0" class="form-control" name="sequence" ng-model="region.sequence" id="sequence" placeholder="{{'region.sequence'|translate}}" required>
        <div ng-show="formError.showErrors(manageRegionForm.sequence, 'sequence')">
          <span ng-show="manageRegionForm.sequence.$error.required" class="help-block">{{'region.sequenceIsMandatory'|translate}}</span>
          <span ng-show="manageRegionForm.sequence.$error.min" class="help-block">{{'region.minValueIsZero'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('sequence')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.template, 'template')}">
      <label for="template" class="col-sm-3 control-label">{{'region.template'|translate}} *</label>
      <div class="col-sm-9">
        <select id="template" name="template" ng-model="region.template" class="form-control" required ng-options="template.id as template.name for template in templates">
        </select>
        <div ng-show="formError.showErrors(manageRegionForm.template, 'template')">
          <span ng-show="manageRegionForm.template.$error.required" class="help-block">{{'region.templateIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('template')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>