<div class="row">
  <div class="col-xs-10">
    <h3>{{formNames.title|translate}}</h3>
  </div>
  <div class="col-xs-2 text-right">
    <button type="button" title="{{formNames.attributeTitle|translate}}" ng-click="addButton()" class="btn btn-sm btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

<div class="row form-group hidden-xs hidden-sm">
  <div class="col-md-2">{{'region.buttonTemplate'|translate}}</div>
  <div class="col-md-1">{{'region.sequence'|translate}}</div>
  <div class="col-md-3">{{'region.buttonLabel'|translate}}</div>
  <div class="col-md-5">{{'region.function'|translate}}</div>
</div>

<div class="alert alert-info" ng-show="buttons.length < 1">
  {{'region.atLeastOneButtonMustBeAdded'|translate}}
</div>

<div class="form-group form-group-striped add-button" ng-repeat="button in buttons">
  <ng-form name="formNames.formName">
    <div class="row add-button__item">
      <div class="col-md-2">
        <select class="form-control" ng-class="{'has-error': formError.showErrors(formNames.formName.buttonTemplate, names.entityName + '/' + $index + '/buttonTemplate')}"
                name="buttonTemplate" ng-model="button.attributes.id" required
                ng-options="buttonTemplate.id as buttonTemplate.attributes.name for buttonTemplate in buttonTemplates">
          <option value="" disabled>-- {{'region.buttonTemplate'|translate}} * --</option>
        </select>
      </div>
      <div class="col-md-1">
        <input ng-class="{'has-error': formError.showErrors(formNames.formName.sequence, names.entityName + '/' + $index + '/sequence')}"
               required ng-model="button.attributes.sequence" name="sequence" type="number" min="0" class="form-control" placeholder="{{'region.sequence'|translate}} *">
      </div>
      <div class="col-md-3">
        <input ng-class="{'has-error': formError.showErrors(formNames.formName.label, names.entityName + '/' + $index + '/label')}"
               required ng-model="button.attributes.label" name="label" type="text" class="form-control" placeholder="{{'region.label'|translate}} *">
      </div>
      <div class="col-md-5">
        <select ng-class="{'has-error': formError.showErrors(formNames.formName.function, names.entityName + '/' + $index + '/function')}"
                id="function" name="function" ng-model="button.attributes.function" class="form-control" required
                ng-options="function.attributes.name as function.attributes.displayText for function in functions">
          <option value="" disabled>-- {{'region.function'|translate}} * --</option>
        </select>
      </div>
      <div class="col-md-1 text-right">
        <a title="{{'region.deleteTabularFormButton'|translate}}" ng-click="deleteButton($index)" class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <input ng-class="{'has-error': formError.showErrors(formNames.formName.successMessage, names.entityName + '/' + $index + '/successMessage')}"
               required ng-model="button.attributes.successMessage" name="successMessage" type="text" class="form-control" placeholder="{{'region.successMessage'|translate}} *">
      </div>
      <div class="col-md-5">
        <input ng-class="{'has-error': formError.showErrors(formNames.formName.errorMessage, names.entityName + '/' + $index + '/errorMessage')}"
               required ng-model="button.attributes.errorMessage" name="errorMessage" type="text" class="form-control" placeholder="{{'region.errorMessage'|translate}} *">
      </div>
    </div>

    <div class="row has-error" ng-show="
        formError.showErrors(formNames.formName.buttonTemplate, names.entityName + '/' + $index + '/buttonTemplate') ||
        formError.showErrors(formNames.formName.sequence, names.entityName + '/' + $index + '/sequence') ||
        formError.showErrors(formNames.formName.label, names.entityName + '/' + $index + '/label') ||
        formError.showErrors(formNames.formName.function, names.entityName + '/' + $index + '/function') ||
        formError.showErrors(formNames.formName.successMessage, names.entityName + '/' + $index + '/successMessage') ||
        formError.showErrors(formNames.formName.errorMessage, names.entityName + '/' + $index + '/errorMessage')
       ">
      <div class="col-sm-12">
        <span ng-show="formNames.formName.buttonTemplate.$touched && formNames.formName.buttonTemplate.$error.required" class="help-block">{{'region.buttonTemplateIsMandatory'|translate}}</span>
        <span ng-show="formNames.formName.sequence.$touched && formNames.formName.sequence.$error.required" class="help-block">{{'region.sequenceIsMandatory'|translate}}</span>
        <span ng-show="formNames.formName.label.$touched && formNames.formName.label.$error.required" class="help-block">{{'region.labelIsMandatory'|translate}}</span>
        <span ng-show="formNames.formName.function.$touched && formNames.formName.function.$error.required" class="help-block">{{'region.functionIsMandatory'|translate}}</span>
        <span ng-show="formNames.formName.successMessage.$touched && formNames.formName.successMessage.$error.required" class="help-block">{{'region.successMessageIsMandatory'|translate}}</span>
        <span ng-show="formNames.formName.errorMessage.$touched && formNames.formName.errorMessage.$error.required" class="help-block">{{'region.errorMessageIsMandatory'|translate}}</span>

        <span ng-repeat="error in formError.getErrors(formNames.entityName + '/' + $index + '/buttonTemplate')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors(formNames.entityName + '/' + $index + '/sequence')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors(formNames.entityName + '/' + $index + '/label')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors(formNames.entityName + '/' + $index + '/function')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors(formNames.entityName + '/' + $index + '/successMessage')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors(formNames.entityName + '/' + $index + '/errorMessage')" class="help-block">{{error|translate}}</span>
      </div>
    </div>
  </ng-form>
</div>