<div class="row">
  <div class="col-xs-10">
    <h3>{{title|translate}}</h3>
  </div>
  <div class="col-xs-2 text-right">
    <button type="button" title="{{attributeTitle|translate}}" ng-click="addButton()"
            class="btn btn-sm btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

<div class="row form-group hidden-xs hidden-sm">
  <div class="col-md-2">{{'region.buttonTemplate'|translate}}</div>
  <div class="col-md-1">{{'region.sequence'|translate}}</div>
  <div class="col-md-3">{{'region.buttonLabel'|translate}}</div>
  <div class="col-md-5">{{'region.function'|translate}}</div>
</div>

<div class="alert alert-info" ng-show="buttons.length < 1">
  {{'region.atLeastOneButtonMustBeAdded'|translate}}
</div>

<div class="form-group form-group-striped add-button" ng-repeat="button in buttons">
  <ng-form name="addButtonForm">
    <div class="row add-button__item">
      <div class="col-md-2">
        <select class="form-control"
                ng-class="{'has-error': formError.showErrors(addButtonForm.buttonTemplate, 'addButton/' + $index + '/buttonTemplate')}"
                name="buttonTemplate" ng-model="button.buttonTemplateId" required
                ng-options="buttonTemplate.id as buttonTemplate.attributes.name for buttonTemplate in buttonTemplates">
          <option value="" disabled>-- {{'region.buttonTemplate'|translate}} * --</option>
        </select>
      </div>
      <div class="col-md-1">
        <input
            ng-class="{'has-error': formError.showErrors(addButtonForm.sequence, 'addButton/' + $index + '/sequence')}"
            required ng-model="button.sequence" name="sequence" type="number" min="0" class="form-control"
            placeholder="{{'region.sequence'|translate}} *">
      </div>
      <div class="col-md-3">
        <input ng-class="{'has-error': formError.showErrors(addButtonForm.label, 'addButton/' + $index + '/label')}"
               required ng-model="button.label" name="label" type="text" class="form-control"
               placeholder="{{'region.label'|translate}} *">
      </div>
      <div class="col-md-5">
        <select
            ng-class="{'has-error': formError.showErrors(addButtonForm.function, 'addButton/' + $index + '/function')}"
            id="function" name="function" ng-model="button.function" class="form-control" required
            ng-options="function.attributes.name as function.attributes.displayText for function in functions">
          <option value="" disabled>-- {{'region.function'|translate}} * --</option>
        </select>
      </div>
      <div class="col-md-1 text-right">
        <a title="{{'region.deleteTabularFormButton'|translate}}" ng-click="deleteButton($index)"
           class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="row add-button__item">
      <div class="col-md-5">
        <input
            ng-class="{'has-error': formError.showErrors(addButtonForm.successMessage, 'addButton/' + $index + '/successMessage')}"
            required ng-model="button.successMessage" name="successMessage" type="text" class="form-control"
            placeholder="{{'region.successMessage'|translate}} *">
      </div>
      <div class="col-md-5">
        <input
            ng-class="{'has-error': formError.showErrors(addButtonForm.errorMessage, 'addButton/' + $index + '/errorMessage')}"
            required ng-model="button.errorMessage" name="errorMessage" type="text" class="form-control"
            placeholder="{{'region.errorMessage'|translate}} *">
      </div>
    </div>
    <div class="row add-button__item__checkbox">
      <div class="col-md-12">
        <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.addUserAsSecondParameter, 'addUserAsSecondParameter')}">
          <input id="addAppUserAsParameter{{::$id}}" name="addUserAsSecondParameter" ng-model="button.appUserParameter" type="checkbox">
          <label for="addAppUserAsParameter{{::$id}}">{{'region.addAppUserAsParameter'|translate}}</label>
        </div>
      </div>
    </div>

    <div class="row has-error" ng-show="
        formError.showErrors(addButtonForm.buttonTemplate, 'addButton/' + $index + '/buttonTemplate') ||
        formError.showErrors(addButtonForm.sequence, 'addButton/' + $index + '/sequence') ||
        formError.showErrors(addButtonForm.label, 'addButton/' + $index + '/label') ||
        formError.showErrors(addButtonForm.function, 'addButton/' + $index + '/function') ||
        formError.showErrors(addButtonForm.successMessage, 'addButton/' + $index + '/successMessage') ||
        formError.showErrors(addButtonForm.errorMessage, 'addButton/' + $index + '/errorMessage')
       ">
      <div class="col-sm-12">
        <span ng-show="addButtonForm.buttonTemplate.$touched && addButtonForm.buttonTemplate.$error.required"
              class="help-block">{{'region.buttonTemplateIsMandatory'|translate}}</span>
        <span ng-show="addButtonForm.sequence.$touched && addButtonForm.sequence.$error.required" class="help-block">{{'region.sequenceIsMandatory'|translate}}</span>
        <span ng-show="addButtonForm.label.$touched && addButtonForm.label.$error.required" class="help-block">{{'region.labelIsMandatory'|translate}}</span>
        <span ng-show="addButtonForm.function.$touched && addButtonForm.function.$error.required" class="help-block">{{'region.functionIsMandatory'|translate}}</span>
        <span ng-show="addButtonForm.successMessage.$touched && addButtonForm.successMessage.$error.required"
              class="help-block">{{'region.successMessageIsMandatory'|translate}}</span>
        <span ng-show="addButtonForm.errorMessage.$touched && addButtonForm.errorMessage.$error.required"
              class="help-block">{{'region.errorMessageIsMandatory'|translate}}</span>

        <span ng-repeat="error in formError.getErrors('addButton/' + $index + '/buttonTemplate')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors('addButton/' + $index + '/sequence')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors('addButton/' + $index + '/label')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors('addButton/' + $index + '/function')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors('addButton/' + $index + '/successMessage')" class="help-block">{{error|translate}}</span>
        <span ng-repeat="error in formError.getErrors('addButton/' + $index + '/errorMessage')" class="help-block">{{error|translate}}</span>
      </div>
    </div>
  </ng-form>
</div>