<div ng-include="'app/partials/page-navigation/main.html'"></div>
<div ng-include="'app/partials/page-navigation/application-builder.html'"></div>

<div class="container">
  <h2 ng-show="mode === 'create'">{{'region.createFormRegion'|translate}}</h2>
  <h2 ng-show="mode === 'edit'">{{'region.editFormRegion'|translate}}</h2>
  <form name="manageRegionForm" class="form-horizontal" ng-submit="saveRegion()" novalidate>
    <div ng-include="'app/partials/region/_manage-region-common.html'"></div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.formTemplate, 'formTemplate')}">
      <label for="formTemplate" class="col-sm-3 control-label">{{'region.formTemplate'|translate}} *</label>
      <div class="col-sm-9">
        <select id="formTemplate" name="formTemplate" ng-model="region.formTemplate" class="form-control" required ng-options="formTemplate.id as formTemplate.name for formTemplate in formTemplates">
        </select>
        <div ng-show="formError.showErrors(manageRegionForm.formTemplate, 'formTemplate')">
          <span ng-show="manageRegionForm.formTemplate.$error.required" class="help-block">{{'region.formTemplateIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('formTemplate')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.buttonTemplate, 'buttonTemplate')}">
      <label for="buttonTemplate" class="col-sm-3 control-label">{{'region.buttonTemplate'|translate}} *</label>
      <div class="col-sm-9">
        <select id="buttonTemplate" name="buttonTemplate" ng-model="region.buttonTemplate" class="form-control" required ng-options="buttonTemplate.id as buttonTemplate.name for buttonTemplate in buttonTemplates">
        </select>
        <div ng-show="formError.showErrors(manageRegionForm.buttonTemplate, 'buttonTemplate')">
          <span ng-show="manageRegionForm.buttonTemplate.$error.required" class="help-block">{{'region.buttonTemplateIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('buttonTemplate')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.buttonLabel, 'buttonLabel')}">
      <label for="buttonLabel" class="col-sm-3 control-label">{{'region.buttonLabel'|translate}} *</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="buttonLabel" ng-model="region.buttonLabel" id="buttonLabel" placeholder="{{'region.buttonLabel'|translate}}" required>
        <div ng-show="formError.showErrors(manageRegionForm.buttonLabel, 'buttonLabel')">
          <span ng-show="manageRegionForm.buttonLabel.$error.required" class="help-block">{{'region.buttonLabelIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('buttonLabel')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.successMessage, 'successMessage')}">
      <label for="successMessage" class="col-sm-3 control-label">{{'region.successMessage'|translate}}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="successMessage" ng-model="region.successMessage" id="successMessage" placeholder="{{'region.successMessage'|translate}}">
        <div ng-show="formError.showErrors(manageRegionForm.successMessage, 'successMessage')">
          <span ng-repeat="error in formError.getErrors('successMessage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.errorMessage, 'errorMessage')}">
      <label for="errorMessage" class="col-sm-3 control-label">{{'region.errorMessage'|translate}}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="errorMessage" ng-model="region.errorMessage" id="errorMessage" placeholder="{{'region.errorMessage'|translate}}">
        <div ng-show="formError.showErrors(manageRegionForm.errorMessage, 'errorMessage')">
          <span ng-repeat="error in formError.getErrors('errorMessage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.redirectUrl, 'redirectUrl')}">
      <label for="redirectUrl" class="col-sm-3 control-label">{{'region.redirectUrl'|translate}}</label>
      <div class="col-sm-9">
        <input type="url" class="form-control" name="redirectUrl" ng-model="region.redirectUrl" id="redirectUrl" placeholder="{{'region.redirectUrl'|translate}}">
        <div ng-show="formError.showErrors(manageRegionForm.redirectUrl, 'redirectUrl')">
          <span ng-repeat="error in formError.getErrors('redirectUrl')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.function, 'function')}">
      <label for="function" class="col-sm-3 control-label">{{'region.function'|translate}} *</label>
      <div class="col-sm-9">
        <select id="function" name="function" ng-model="region.function" ng-change="changeFunctionParameters()" class="form-control" required ng-options="function as function.displayText for function in functionsWithParameters track by trackFunction(function)">
        </select>
        <div ng-show="formError.showErrors(manageRegionForm.function, 'function')">
          <span ng-show="manageRegionForm.function.$error.required" class="help-block">{{'region.functionIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('function')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.formPreFill, 'formPreFill')}">
      <label for="formPreFill" class="col-sm-3 control-label">{{'region.preFillForm'|translate}}</label>
      <div class="col-sm-9" class="checkbox">
        <input id="formPreFill" name="formPreFill" ng-model="region.formPreFill" type="checkbox">
        <div ng-show="formError.showErrors(manageRegionForm.formPreFill, 'formPreFill')">
          <span ng-repeat="error in formError.getErrors('formPreFill')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>

    <div ng-show="region.formPreFill">
      <h3>{{'region.preFillForm'|translate}} <small>{{'region.firstReturnedValueIsUsed'|translate}}</small></h3>
      <div class="alert alert-info">
        {{'region.atLeastOneColumnConditionMustBeAdded'|translate}}
      </div>
      <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.formPreFillView, 'formPreFillView')}">
        <label for="formPreFillView" class="col-sm-3 control-label">{{'region.view'|translate}} *</label>
        <div class="col-sm-9">
          <select id="formPreFillView" name="formPreFillView" ng-model="region.formPreFillView" ng-change="changeFormPreFillColumns()" class="form-control" ng-required="region.formPreFill" ng-options="viewWithColumns as viewWithColumns.name for viewWithColumns in viewsWithColumns track by trackViewWithColumns(viewWithColumns)">
          </select>
          <div ng-show="formError.showErrors(manageRegionForm.formPreFillView, 'formPreFillView')">
            <span ng-show="manageRegionForm.formPreFillView.$error.required" class="help-block">{{'region.viewIsMandatory'|translate}}</span>
            <span ng-repeat="error in formError.getErrors('formPreFillView')" class="help-block">{{error|translate}}</span>
          </div>
        </div>
      </div>
      <div class="form-group form-group-striped" ng-repeat="formPreFillColumn in region.formPreFillColumns">
        <label for="prefillFormViewColumn{{$index}}" class="col-sm-3 control-label">{{formPreFillColumn.column}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="formPreFillColumn.value" id="prefillFormViewColumn{{$index}}">
        </div>
      </div>
      <div class="row form-group has-error" ng-show="formError.showErrors(null, 'formPreFillColumns')">
        <div class="col-sm-12">
          <span ng-repeat="error in formError.getErrors('formPreFillColumns')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>

    <div ng-show="region.function">
      <h3>{{'region.functionParameters'|translate}}</h3>
      <div class="form-group form-group-striped" ng-repeat="functionParameter in region.functionParameters">
        <ng-form name="functionParameterForm">
          <div class="row">
            <div class="col-md-3">
              {{functionParameter.parameter.name}}
              <span class="label label-default">{{functionParameter.parameter.argumentType}}</span>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.label, 'functionParameters/' + $index + '/label')}">
              <input required ng-model="functionParameter.label" name="label" type="text" class="form-control" placeholder="{{'region.label'|translate}} *">
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(functionParameterForm.sequence, 'functionParameters/' + $index + '/sequence')}">
              <input required ng-model="functionParameter.sequence" name="sequence" type="number" min="0" class="form-control" placeholder="{{'region.sequence'|translate}} *">
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(functionParameterForm.isMandatory, 'functionParameters/' + $index + '/isMandatory')}">
              <label class="normal-label">
                <input ng-model="functionParameter.isMandatory" name="isMandatory" type="checkbox" title="{{'region.isMandatory'|translate}}">
                <span>{{'region.isMandatory'|translate}}</span>
              </label>
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(functionParameterForm.isVisible, 'functionParameters/' + $index + '/isVisible')}">
              <label class="normal-label">
                <input ng-model="functionParameter.isVisible" name="isVisible" type="checkbox" title="{{'region.isVisible'|translate}}">
                <span>{{'region.isVisible'|translate}}</span>
              </label>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.defaultValue, 'functionParameters/' + $index + '/defaultValue')}">
              <input ng-model="functionParameter.defaultValue" name="defaultValue" type="text" class="form-control" placeholder="{{'region.defaultValue'|translate}}">
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.helpText, 'functionParameters/' + $index + '/helpText')}">
              <input ng-model="functionParameter.helpText" name="helpText" type="text" class="form-control" placeholder="{{'region.helpText'|translate}}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.fieldType, 'functionParameters/' + $index + '/fieldType')}">
              <select id="fieldType" name="fieldType" ng-model="functionParameter.fieldType" class="form-control" required>
                <option value="" disabled>-- {{'region.fieldType'|translate}} * --</option>
                <option value="TEXT">{{'region.fieldTypeText'|translate}}</option>
                <option value="PASSWORD">{{'region.fieldTypePassword'|translate}}</option>
                <option value="RADIO">{{'region.fieldTypeRadio'|translate}}</option>
                <option value="CHECKBOX">{{'region.fieldTypeCheckbox'|translate}}</option>
                <option value="DROP_DOWN">{{'region.fieldTypeDropDown'|translate}}</option>
                <option value="TEXTAREA">{{'region.fieldTypeTextarea'|translate}}</option>
              </select>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.fieldTemplate, 'functionParameters/' + $index + '/fieldTemplate')}">
              <select id="fieldTemplate" name="fieldTemplate" ng-model="functionParameter.fieldTemplate" ng-disabled="!functionParameter.fieldType" class="form-control" required>
                <option value="" disabled>-- {{'region.fieldTemplate'|translate}} * --</option>
                <option ng-show="functionParameter.fieldType === 'TEXT' || functionParameter.fieldType === 'PASSWORD' || functionParameter.fieldType === 'RADIO' || functionParameter.fieldType === 'CHECKBOX'" ng-repeat="fieldTemplate in inputTemplates" value="{{fieldTemplate.id}}">{{fieldTemplate.name}}</option>
                <option ng-show="functionParameter.fieldType === 'TEXTAREA'" ng-repeat="fieldTemplate in textareaTemplates" value="{{fieldTemplate.id}}">{{fieldTemplate.name}}</option>
                <option ng-show="functionParameter.fieldType === 'DROP_DOWN'" ng-repeat="fieldTemplate in dropDownTemplates" value="{{fieldTemplate.id}}">{{fieldTemplate.name}}</option>
              </select>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.listOfValuesView, 'functionParameters/' + $index + '/listOfValuesView')}">
              <select id="listOfValuesView" name="listOfValuesView" ng-model="functionParameter.listOfValuesView" class="form-control" ng-required="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO'" ng-show="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO'" ng-options="viewWithColumns as viewWithColumns.name for viewWithColumns in viewsWithColumns track by trackViewWithColumns(viewWithColumns)">
                <option value="" disabled>-- {{'region.listOfValuesView'|translate}} * --</option>
              </select>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.listOfValuesValue, 'functionParameters/' + $index + '/listOfValuesValue')}">
              <select id="listOfValuesValue" name="listOfValuesValue" ng-model="functionParameter.listOfValuesValue" class="form-control" ng-required="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO'" ng-show="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO'" ng-disabled="!functionParameter.listOfValuesView" ng-options="column as column for column in functionParameter.listOfValuesView.columns">
                <option value="" disabled>-- {{'region.columnForValue'|translate}} * --</option>
              </select>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.listOfValuesLabel, 'functionParameters/' + $index + '/listOfValuesLabel')}">
              <select id="listOfValuesLabel" name="listOfValuesLabel" ng-model="functionParameter.listOfValuesLabel" class="form-control" ng-required="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO'" ng-show="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO'" ng-disabled="!functionParameter.listOfValuesView" ng-options="column as column for column in functionParameter.listOfValuesView.columns">
                <option value="" disabled>-- {{'region.columnForLabel'|translate}} * --</option>
              </select>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.preFillColumn, 'functionParameters/' + $index + '/preFillColumn')}">
              <select id="preFillColumn" name="preFillColumn" ng-model="functionParameter.preFillColumn" class="form-control" ng-show="region.formPreFill && region.formPreFillView" ng-options="formPreFillColumn.column as formPreFillColumn.column for formPreFillColumn in region.formPreFillColumns">
                <option value="" disabled>-- {{'region.preFillColumn'|translate}} --</option>
              </select>
            </div>
          </div>

          <div class="row form-group has-error" ng-show="
            formError.showErrors(functionParameterForm.label, 'functionParameters/' + $index + '/label') ||
            formError.showErrors(functionParameterForm.sequence, 'functionParameters/' + $index + '/sequence') ||
            formError.showErrors(functionParameterForm.isMandatory, 'functionParameters/' + $index + '/isMandatory') ||
            formError.showErrors(functionParameterForm.isVisible, 'functionParameters/' + $index + '/isVisible') ||
            formError.showErrors(functionParameterForm.defaultValue, 'functionParameters/' + $index + '/defaultValue') ||
            formError.showErrors(functionParameterForm.fieldType, 'functionParameters/' + $index + '/fieldType') ||
            formError.showErrors(functionParameterForm.fieldTemplate, 'functionParameters/' + $index + '/fieldTemplate') ||
            formError.showErrors(functionParameterForm.listOfValuesView, 'functionParameters/' + $index + '/listOfValuesView') ||
            formError.showErrors(functionParameterForm.listOfValuesValue, 'functionParameters/' + $index + '/listOfValuesValue') ||
            formError.showErrors(functionParameterForm.listOfValuesLabel, 'functionParameters/' + $index + '/listOfValuesLabel') ||
            formError.showErrors(functionParameterForm.preFillColumn, 'functionParameters/' + $index + '/preFillColumn') ||
            formError.showErrors(functionParameterForm.helpText, 'functionParameters/' + $index + '/helpText')
          ">
            <div class="col-sm-12">
              <span ng-show="functionParameterForm.label.$touched && functionParameterForm.label.$error.required" class="help-block">{{'region.labelIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.sequence.$touched && functionParameterForm.sequence.$error.required" class="help-block">{{'region.sequenceIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.fieldType.$touched && functionParameterForm.fieldType.$error.required" class="help-block">{{'region.fieldTypeIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.fieldTemplate.$touched && functionParameterForm.fieldTemplate.$error.required" class="help-block">{{'region.fieldTemplateIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.listOfValuesView.$touched && functionParameterForm.listOfValuesView.$error.required" class="help-block">{{'region.listOfValuesViewIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.listOfValuesValue.$touched && functionParameterForm.listOfValuesValue.$error.required" class="help-block">{{'region.listOfValuesValueIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.listOfValuesLabel.$touched && functionParameterForm.listOfValuesLabel.$error.required" class="help-block">{{'region.listOfValuesLabelIsMandatory'|translate}}</span>

              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/label')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/sequence')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/isMandatory')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/isVisible')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/defaultValue')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/fieldType')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/fieldTemplate')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/listOfValuesView')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/listOfValuesValue')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/listOfValuesLabel')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/preFillColumn')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('functionParameters/' + $index + '/helpText')" class="help-block">{{error|translate}}</span>
            </div>
          </div>
        <ng-form>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" ng-disabled="manageRegionForm.$invalid || (region.formPreFill && !atLeastOneFormPreFillColumnHasValue())">
          <span ng-show="mode === 'create'">{{'region.createFormRegion'|translate}}</span>
          <span ng-show="mode === 'edit'">{{'region.editFormRegion'|translate}}</span>
        </button>
      </div>
    </div>
  </form>
</div>