<div ng-include="'app/partials/page-navigation/main.html'"></div>
<div ng-include="'app/partials/page-navigation/application-builder.html'"></div>

<div class="container">
  <h2 ng-show="mode === 'create'">{{'region.createReportRegion'|translate}}</h2>
  <h2 ng-show="mode === 'edit'">{{'region.editReportRegion'|translate}}</h2>
  <form name="manageRegionForm" class="form-horizontal" ng-submit="saveRegion()" novalidate>
    <div ng-include="'app/partials/region/_manage-region-common.html'"></div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.reportTemplate, 'reportTemplate')}">
      <label for="reportTemplate" class="col-sm-3 control-label">{{'region.reportTemplate'|translate}} *</label>
      <div class="col-sm-8">
        <select id="reportTemplate" name="reportTemplate" ng-model="region.reportTemplate" class="form-control" required
                ng-options="reportTemplate.id as reportTemplate.attributes.name for reportTemplate in reportTemplates">
        </select>
        <div ng-show="formError.showErrors(manageRegionForm.reportTemplate, 'reportTemplate')">
          <span ng-show="manageRegionForm.reportTemplate.$error.required" class="help-block">{{'region.reportTemplateIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('reportTemplate')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.view, 'view')}">
      <label for="view" class="col-sm-3 control-label">{{'region.view'|translate}} *</label>
      <div class="col-sm-8">
        <select id="view" name="view" ng-model="region.view" ng-change="changeViewColumns()" class="form-control"
                required ng-options="view as view.attributes.schema + '.' + view.attributes.name for view in viewsWithColumns track by trackView(view)">
        </select>
        <div ng-show="formError.showErrors(manageRegionForm.view, 'view')">
          <span ng-show="manageRegionForm.view.$error.required" class="help-block">{{'region.viewIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('view')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.showHeader, 'showHeader')}">
      <label for="showHeader" class="col-sm-3 control-label">{{'region.showHeader'|translate}}</label>
      <div class="col-sm-8" class="checkbox">
        <input id="showHeader" name="showHeader" ng-model="region.showHeader" type="checkbox">
        <div ng-show="formError.showErrors(manageRegionForm.showHeader, 'showHeader')">
          <span ng-repeat="error in formError.getErrors('showHeader')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.itemsPerPage, 'itemsPerPage')}">
      <label for="itemsPerPage" class="col-sm-3 control-label">{{'region.itemsPerPage'|translate}} *</label>
      <div class="col-sm-8">
        <input type="number" min="1" class="form-control" name="itemsPerPage" ng-model="region.itemsPerPage" id="itemsPerPage" placeholder="{{'region.itemsPerPage'|translate}}" required>
        <div ng-show="formError.showErrors(manageRegionForm.itemsPerPage, 'itemsPerPage')">
          <span ng-show="manageRegionForm.itemsPerPage.$error.required" class="help-block">{{'region.itemsPerPageIsMandatory'|translate}}</span>
          <span ng-show="manageRegionForm.itemsPerPage.$error.min" class="help-block">{{'region.minValueIsOne'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('itemsPerPage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.paginationQueryParameter, 'paginationQueryParameter')}">
      <label for="paginationQueryParameter" class="col-sm-3 control-label">{{'region.paginationQueryParameter'|translate}} *</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="paginationQueryParameter" ng-model="region.paginationQueryParameter" id="paginationQueryParameter"
               placeholder="{{'region.paginationQueryParameter'|translate}}" required ng-pattern="'[a-zA-Z_]+'">
        <div ng-show="formError.showErrors(manageRegionForm.paginationQueryParameter, 'paginationQueryParameter')">
          <span ng-show="manageRegionForm.paginationQueryParameter.$error.required" class="help-block">{{'region.paginationQueryParameterIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('paginationQueryParameter')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
      <div class="col-sm-1">
        <span class="glyphicon glyphicon-info-sign help-text" ng-click="helper.info('region.paginationQueryParameterHelpText')"></span>
      </div>
    </div>
    <div ng-show="region.view">
      <div class="row">
        <div class="col-xs-10">
          <h3>{{'region.columns'|translate}}
            <span class="glyphicon glyphicon-info-sign help-text" ng-click="helper.info('region.columnsHelpText')"></span>
          </h3>
        </div>
        <div class="col-xs-2 text-right">
            <div class="dropdown">
              <button title="{{'region.addReportColumn'|translate}}" class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="addReportColumn('COLUMN')">{{'region.column'|translate}}</a></li>
                <li><a href="" ng-click="addReportColumn('LINK')">{{'region.link'|translate}}</a></li>
              </ul>
            </div>
        </div>
      </div>
      
      <div class="row form-group hidden-xs hidden-sm">
        <div class="col-md-2">{{'region.heading'|translate}}</div>
        <div class="col-md-1">{{'region.sequence'|translate}}</div>
        <div class="col-md-1">{{'region.isTextEscaped'|translate}}</div>
        <div class="col-md-8"></div>
      </div>
      
      <div class="alert alert-info" ng-show="region.reportColumns.length < 1">
        {{'region.atLeastOneColumnMustBeAdded'|translate}}
      </div>

      <div class="form-group form-group-striped" ng-repeat="reportColumn in region.reportColumns">
        <ng-form name="reportColumnForm">
          <div class="row">
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(reportColumnForm.heading, 'reportColumns/' + $index + '/heading')}">
              <input required ng-model="reportColumn.attributes.heading" name="heading" type="text" class="form-control" placeholder="{{'region.heading'|translate}} *">
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(reportColumnForm.sequence, 'reportColumns/' + $index + '/sequence')}">
              <input required ng-model="reportColumn.attributes.sequence" name="sequence" type="number" min="0" class="form-control" placeholder="{{'region.sequence'|translate}} *">
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(reportColumnForm.isTextEscaped, 'reportColumns/' + $index + '/isTextEscaped')}">
              <label>
                <input ng-model="reportColumn.attributes.isTextEscaped" type="checkbox" title="{{'region.isTextEscaped'|translate}}">
                <span class="visible-xs-inline-block visible-sm-inline-block">{{'region.isTextEscaped'|translate}}</span>
              </label>
            </div>
            <!-- COLUMN -->
            <div class="col-md-7" ng-show="reportColumn.attributes.type === 'COLUMN'" ng-class="{'has-error': formError.showErrors(reportColumnForm.column, 'reportColumns/' + $index + '/column')}">
              <select class="form-control" name="column" ng-required="reportColumn.attributes.type === 'COLUMN'" ng-model="reportColumn.attributes.column"
                ng-options="viewColumn.attributes.name as viewColumn.attributes.name for viewColumn in viewColumns">
                <option value="">-- {{'region.column'|translate}} * --</option>
              </select>
            </div>
            <!-- LINK -->
            <div class="col-md-3" ng-show="reportColumn.attributes.type === 'LINK'" ng-class="{'has-error': formError.showErrors(reportColumnForm.linkUrl, 'reportColumns/' + $index + '/linkUrl')}">
              <input ng-required="reportColumn.attributes.type === 'LINK'" name="linkUrl" ng-model="reportColumn.attributes.linkUrl" type="text" class="form-control" placeholder="{{'region.url'|translate}}">
            </div>
            <div class="col-md-2" ng-show="reportColumn.attributes.type === 'LINK'" ng-class="{'has-error': formError.showErrors(reportColumnForm.linkText, 'reportColumns/' + $index + '/linkText')}">
              <input ng-required="reportColumn.attributes.type === 'LINK'" name="linkText" ng-model="reportColumn.attributes.linkText" type="text" class="form-control" placeholder="{{'region.text'|translate}}">
            </div>
            <div class="col-md-2" ng-show="reportColumn.attributes.type === 'LINK'" ng-class="{'has-error': formError.showErrors(reportColumnForm.linkAttributes, 'reportColumns/' + $index + '/linkAttributes')}">
              <input ng-model="reportColumn.attributes.linkAttributes" name="linkAttributes" type="text" class="form-control" placeholder="{{'region.attributes'|translate}}">
            </div>

            <div class="col-md-1 text-right">
              <a title="{{'region.deleteReportColumn'|translate}}" ng-click="deleteReportColumn($index)" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <div class="row has-error" ng-show="
            formError.showErrors(reportColumnForm.heading, 'reportColumns/' + $index + '/heading') ||
            formError.showErrors(reportColumnForm.sequence, 'reportColumns/' + $index + '/sequence') ||
            formError.showErrors(reportColumnForm.column, 'reportColumns/' + $index + '/column') ||
            formError.showErrors(reportColumnForm.linkUrl, 'reportColumns/' + $index + '/linkUrl') ||
            formError.showErrors(reportColumnForm.linkText, 'reportColumns/' + $index + '/linkText') ||
            formError.showErrors(reportColumnForm.linkAttributes, 'reportColumns/' + $index + '/linkAttributes')
          ">
            <div class="col-sm-12">
              <span ng-show="reportColumnForm.heading.$touched && reportColumnForm.heading.$error.required" class="help-block">{{'region.headingIsMandatory'|translate}}</span>
              <span ng-show="reportColumnForm.sequence.$touched && reportColumnForm.sequence.$error.required" class="help-block">{{'region.sequenceIsMandatory'|translate}}</span>
              <span ng-show="reportColumnForm.column.$touched && reportColumnForm.column.$error.required" class="help-block">{{'region.columnIsMandatory'|translate}}</span>
              <span ng-show="reportColumnForm.linkUrl.$touched && reportColumnForm.linkUrl.$error.required" class="help-block">{{'region.linkUrlIsMandatory'|translate}}</span>
              <span ng-show="reportColumnForm.linkText.$touched && reportColumnForm.linkText.$error.required" class="help-block">{{'region.linkTextIsMandatory'|translate}}</span>
              
              <span ng-repeat="error in formError.getErrors('reportColumns/' + $index + '/heading')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('reportColumns/' + $index + '/sequence')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('reportColumns/' + $index + '/column')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('reportColumns/' + $index + '/linkUrl')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('reportColumns/' + $index + '/linkText')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('reportColumns/' + $index + '/linkAttributes')" class="help-block">{{error|translate}}</span>
            </div>
          </div>
        <ng-form>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" ng-disabled="manageRegionForm.$invalid || region.reportColumns.length < 1">
          <span ng-show="mode === 'create'">{{'region.createReportRegion'|translate}}</span>
          <span ng-show="mode === 'edit'">{{'region.editReportRegion'|translate}}</span>
        </button>
      </div>
    </div>
  </form>
</div>