<div ng-include="'app/partials/page-navigation/main.html'"></div>
<div ng-include="'app/partials/page-navigation/application-builder.html'"></div>

<div class="container">
  <div class="">
    <table class="table table-striped table-condensed">
      <tbody ng-repeat="displayPointWithRegions in displayPointsWithRegions">
        <tr>
          <td class="col-md-10" colspan="4"><strong>{{displayPointWithRegions.attributes.description}}</strong></td>
          <td class="col-md-2 text-right">
            <div class="dropdown">
              <button title="{{'region.createRegion'|translate}}" class="btn btn-sm btn-primary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-href="#/application-builder/app/{{routeParams.applicationId}}/pages/{{routeParams.pageId}}/regions/{{displayPointWithRegions.id}}/html/create">{{'region.html'|translate}}</a></li>
                <li><a ng-href="#/application-builder/app/{{routeParams.applicationId}}/pages/{{routeParams.pageId}}/regions/{{displayPointWithRegions.id}}/navigation/create">{{'region.navigation'|translate}}</a></li>
                <li><a ng-href="#/application-builder/app/{{routeParams.applicationId}}/pages/{{routeParams.pageId}}/regions/{{displayPointWithRegions.id}}/report/create">{{'region.report'|translate}}</a></li>
                <li><a ng-href="#/application-builder/app/{{routeParams.applicationId}}/pages/{{routeParams.pageId}}/regions/{{displayPointWithRegions.id}}/form/create">{{'region.form'|translate}}</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr ng-repeat="region in displayPointWithRegions.attributes.regions">
          <td class="col-xs-2 col-md-1">
            <span class="label label-default" title="{{'region.type'|translate}}">{{'region.'+region.attributes.type|translate}}</span>
          </td>
          <td class="col-xs-1 col-md-1">
            <span class="badge" title="{{'region.sequence'|translate}}">{{region.attributes.sequence}}</span>
          </td>
          <td class="col-xs-1 col-md-1">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-show="region.attributes.isVisible" title="{{'region.visible'|translate}}"></span>
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-hide="region.attributes.isVisible" title="{{'region.hidden'|translate}}"></span>
          </td>
          <td class="col-xs-4 col-md-7">
            {{region.attributes.name}}
          </td>
          <td class="col-xs-4 col-md-2 text-right">
            <a ng-href="#/application-builder/app/{{routeParams.applicationId}}/pages/{{routeParams.pageId}}/regions/{{displayPointWithRegions.id}}/{{region.attributes.type.toLowerCase()}}/{{region.id}}/edit" class="btn btn-sm btn-success" title="{{'region.edit'|translate}}">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <button ng-click="deleteRegion(region.id)" class="btn btn-sm btn-danger" title="{{'region.delete'|translate}}">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

