<div class="row subregion-form">
  <div class="col-xs-10">
    <h3 class="heading" ng-show="mode === 'create'">{{'region.createSubRegions'|translate}}</h3>
    <h3 class="heading" ng-show="mode === 'edit'">{{'region.editSubRegions'|translate}}</h3>
  </div>
  <div class="col-xs-2 text-right">
    <div class="dropdown">
      <button class="btn btn-sm btn-primary dropdown-toggle"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="addSubRegion('SUBREPORT')">{{'region.subReport'|translate}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div ng-repeat="subRegion in subRegions">
  <div ng-show="subRegion.type === 'SUBREPORT'">
    <div class="panel panel-default subregion-form__panel">
      <div class="panel-body">
        <div class="row subregion-form__row">
          <div class="col-md-11">
            <add-sub-report views-with-columns="viewsWithColumns" sub-report="subRegion" form-error="formError" mode="mode"></add-sub-report>
          </div>
          <div class="col-md-1 text-right">
            <a title="{{'region.deleteSubRegion'|translate}}" ng-click="deleteSubRegion($index)"
               class="btn btn-sm btn-danger">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
