<div ng-include="'app/partials/page-navigation/main.html'"></div>
<div ng-include="'app/partials/page-navigation/application-builder.html'"></div>

<div class="container">
  <h2 ng-show="mode === 'create'">{{'page.createPage'|translate}}</h2>
  <h2 ng-show="mode === 'edit'">{{'page.editPage'|translate}}</h2>
  <form name="managePageForm" class="form-horizontal" ng-submit="savePage()" novalidate>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(managePageForm.title, 'title')}">
      <label for="title" class="col-sm-3 control-label">{{'page.title'|translate}} *</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="title" ng-model="page.title" id="title" placeholder="{{'page.title'|translate}}" required autofocus>
        <div ng-show="formError.showErrors(managePageForm.title, 'title')">
          <span ng-show="managePageForm.title.$error.required" class="help-block">{{'page.titleIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('title')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(managePageForm.alias, 'alias')}">
      <label for="alias" class="col-sm-3 control-label">{{'page.alias'|translate}}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="alias" ng-model="page.alias" id="alias" placeholder="{{'page.alias'|translate}}">
        <div ng-show="formError.showErrors(managePageForm.alias, 'alias')">
          <span ng-repeat="error in formError.getErrors('alias')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(managePageForm.template, 'template')}">
      <label for="template" class="col-sm-3 control-label">{{'page.template'|translate}} *</label>
      <div class="col-sm-9">
        <select id="template" name="template" ng-model="page.template" class="form-control" required>
          <option ng-repeat="template in templates" ng-value="template.id">{{template.name}}</option>
        </select>
        <div ng-show="formError.showErrors(managePageForm.template, 'template')">
          <span ng-show="managePageForm.template.$error.required" class="help-block">{{'page.templateIsMandatory'|translate}}</span>
          <span ng-repeat="error in formError.getErrors('template')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(managePageForm.isHomepage, 'isHomepage')}">
      <label for="isHomepage" class="col-sm-3 control-label">{{'page.isHomepage'|translate}}</label>
      <div class="col-sm-9" class="checkbox">
        <input id="isHomepage" name="isHomepage" ng-model="page.isHomepage" type="checkbox">
        <div ng-show="formError.showErrors(managePageForm.isHomepage, 'isHomepage')">
          <span ng-repeat="error in formError.getErrors('isHomepage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(managePageForm.isAuthenticationPage, 'isAuthenticationPage')}">
      <label for="isAuthenticationPage" class="col-sm-3 control-label">{{'page.isAuthenticationPage'|translate}}</label>
      <div class="col-sm-9" class="checkbox">
        <input id="isAuthenticationPage" name="isAuthenticationPage" ng-model="page.isAuthenticationPage" type="checkbox">
        <div ng-show="formError.showErrors(managePageForm.isAuthenticationPage, 'isAuthenticationPage')">
          <span ng-repeat="error in formError.getErrors('isAuthenticationPage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(managePageForm.pageCondition, 'pageCondition')}">
      <label for="pageCondition" class="col-sm-3 control-label">{{'page.pageCondition'|translate}}</label>
      <div class="col-sm-9">
        <select id="pageCondition" name="pageCondition" ng-model="page.pageCondition" class="form-control" required>
          <option ng-value=""></option>
          <option ng-repeat="function in functions" ng-value="function.name">{{function.name}}</option>
        </select>
        <div ng-repeat="function in functions" ng-show="function.name === page.pageCondition">
          <div class="row" ng-repeat="argument in function.arguments">
            <div class="col-sm-3">{{argument.name}}</div>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="page.pageConditionAttribute[argument.name]">
            </div>
          </div>
        </div>
        <div ng-show="formError.showErrors(managePageForm.pageCondition, 'pageCondition')">
          <span ng-repeat="error in formError.getErrors('pageCondition')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" ng-disabled="managePageForm.$invalid">
          <span ng-show="mode === 'create'">{{'page.createPage'|translate}}</span>
          <span ng-show="mode === 'edit'">{{'page.editPage'|translate}}</span>
        </button>
      </div>
    </div>
  </form>
</div>